@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
// spacing
$content-padding-top-bottom: 2rem;
$content-padding-left-right: 10vw;
$content-padding: $content-padding-top-bottom $content-padding-left-right;
// ? Colors
// * Dark Mode Theme Colors

$dark-mode-body: #1a1a1a;
$dark-mode-text-color: #bdc3c7;
$dark-mode-header-controller: #121212;
$dark-mode-header-nav: #121212;
$dark-mode-footer: #2c3e50;
// * Light Mode Theme Colors
$light-mode-body: #ecf0f1;
$light-mode-text-color: #34495e;
$light-mode-header-controller: #2c3e50;
$light-mode-header-nav: #2c3e50;
$light-mode-footer: #f39c12;
// * Text Colors
$colors: (
    "blue": #0d6efd,
    "indigo": #6610f2,
    "purple": #6f42c1,
    "pink": #d63384,
    "red": #dc3545,
    "orange": #fd7e14,
    "yellow": #ffc107,
    "green": #4CAF50,
    "teal": #20c997,
    "cyan": #0dcaf0,
    "white": #ffffff,
    "black": #000000
);