@import "../sass/variables";
@import "../sass/reboot";
@import "../sass/responsive";
@import "../sass/nav";
@import "../sass/modal";
@import "../sass/loader";
@import "../sass/register";

main#main {
    padding: $content-padding;
}

body {
    // dark mode
    &.dark-mode {
        background-color: $dark-mode-body;
        color: $dark-mode-text-color;

        header {
            .controller {
                background-color: $dark-mode-header-controller;
            }

            nav {
                background-color: $dark-mode-header-nav;

                ul li {

                    a,
                    button {
                        color: $dark-mode-text-color;
                    }
                }
            }
        }

        button {
            color: $dark-mode-text-color;
        }

        #footer {
            background-color: $dark-mode-footer;
        }
    }
    // light mode
    &:not(.dark-mode) {
        background-color: $light-mode-body;
        color: $light-mode-text-color;

        header {
            .controller {
                background-color: $light-mode-header-controller;
            }

            nav {
                background-color: $light-mode-header-nav;

                ul li {

                    a,
                    button {
                        color: $light-mode-body;
                    }
                }
            }
        }

        button {
            color: $light-mode-body;
        }

        #footer {
            background-color: $light-mode-footer;
        }
    }
}